/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li,
form {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* Style for the search input and button */
input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  flex-grow: 1;
  margin-right: 0;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 10px 15px;
  cursor: pointer;
}

button img {
  width: 20px;
  height: 20px;
}

.movie-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  width: 300px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: #333;
}

.movie-card img {
  max-width: 100%;
  height: auto;
}

.movie-card h3 {
  margin: 10px 0;
}

.movie-card p {
  margin: 5px 0;
}

/* Style for the Add Movie form */
#add-movie-form {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: #333;
}

#add-movie-form h2 {
  margin-bottom: 10px;
}

#add-movie-form label {
  display: block;
  margin-bottom: 5px;
}

#add-movie-form input,
#add-movie-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rating-input {
  display: flex;
}

.star {
  font-size: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.star.gold {
  color: gold;
}
